
{% extends 'base.html' %}
{% block title %} Saiba - About {% endblock %}

{% block content %}
    <div class="default-carousel merchant-header">
      <h1 class="slide-headline">About Saiba</h1>
      <p class="slide-caption">
        Saiba is the simply the best way to pay and get paid both online and offline.<br /><br />
        We think that building an internet business is a problem rooted in code and design, not finance.
        Our developer-friendly APIs let our users focus on building great products.
      </p>

      <img class="slide-featured about-slide-featured" src="/static/img/pages/about/about-featured.png" alt="About Featured" />
    </div> <!-- ./merchant-header -->


  </header> <!-- #/header-container -->

  <main class="default-main">
    <section class="default-section saiba-about-features">
      <div class="container">
        <div class="row app-row">
          <div class="col-xs-12 col-md-6 feature-img">
            <img class="who-we-are-featured" width="338" height="195" src="/static/img/pages/about/who-we-are.png" alt="Saiba - Who we are" />
          </div> <!-- ./feature-img -->
          <div class="col-xs-12 col-md-6 app-feature-info">
            <h2 class="feature-title">Who we are</h2>
            <p class="feature-summary">
              We think that building an internet business is a problem rooted in code and design, not finance.
              Our developer-friendly APIs let our users focus on building great products.
            </p>
            <p class="feature-summary">
              We love the web, and care deeply about beautiful code, APIs, and documentation.
              We really like startups and building products—the people at Saiba have previously
              helped start Skype, Lala, Act Blue, Kickoff, Interstate, Auctomatic, Encyclopedia, GazeHawk, and Wesabe.
            </p>
          </div> <!-- ./app-feature-info -->

        </div> <!-- ./app-row -->

      </div> <!-- ./container -->
    </section> <!-- ./saiba-about-features -->
    <section class="default-section testimonials-section">

      <h2 class="text-center">What They Are Saying</h2>
      <div class="container">
        <div class="default-carousel">
        <div class="owl-carousel testimonials-carousel owl-theme">
          <div class="item" >
            <div class="popover bottom">
              <div class="arrow"></div>
              <h3 class="popover-title">Forbes: How John And Patrick Collison Built Stripe Into The PayPal Of The Mobile Era</h3>
              <div class="popover-content">
                <p>“Saiba’s success at making digital payments easy is only a step toward its larger ambition:
                  becoming the edifice upon which new forms of commerce are created.”</p>
              </div>
            </div>

          </div> <!-- ./item -->

          <div class="item" >
            <div class="popover bottom">
              <div class="arrow"></div>
              <h3 class="popover-title">2Forbes: How John And Patrick Collison Built Stripe Into The PayPal Of The Mobile Era</h3>
              <div class="popover-content">
                <p>“Saiba’s success at making digital payments easy is only a step toward its larger ambition:
                  becoming the edifice upon which new forms of commerce are created.”</p>
              </div>
            </div>

          </div> <!-- ./item -->

          <div class="item" >
            <div class="popover bottom">
              <div class="arrow"></div>
              <h3 class="popover-title">3Forbes: How John And Patrick Collison Built Stripe Into The PayPal Of The Mobile Era</h3>
              <div class="popover-content">
                <p>“Saiba’s success at making digital payments easy is only a step toward its larger ambition:
                  becoming the edifice upon which new forms of commerce are created.”</p>
              </div>
            </div>

          </div> <!-- ./item -->

        </div> <!-- ./owl-carousel -->

        <div class="custom-owl-nav">
          <div class="owl-controls">
            <div class="owl-nav"></div>
          </div> <!-- ./owl-controls -->
        </div> <!-- ./custom-owl-nav -->
        <div class="custom-owl-dots owl-theme">
          <div class="owl-dots"></div>
        </div> <!-- ./custom-owl-dots -->

      </div> <!-- ./default-carousel -->
      </div> <!-- ./container -->
    </section> <!-- ./testimonials-section -->
    <section class="default-section saiba-about-features">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 aba-feature">
            <img width="55" height="74" src="/static/img/pages/about/icon-aba-feature1.png" alt="Blog - icon" />
            <h3>Blog</h3>
            <p>Read the latest on our cities, events, people, product updates, and more.</p>
            <p><a class="btn btn-read-more" href="blog.saiba.co.ke">visit our blog <i class="fa fa-angle-right"></i></a></p>

          </div> <!-- ./aba-feature -->
          <div class="col-xs-12 col-sm-4 aba-feature">
            <img width="76" height="74" src="/static/img/pages/about/icon-aba-feature2.png" alt="Assets - icon" />
            <h3>Assets</h3>
            <p>Get approved logos, photography, and app screens from regions around the world.</p>
            <!-- <p><a class="btn btn-read-more" href="#">download our assets <i class="fa fa-angle-right"></i></a></p> -->

          </div> <!-- ./aba-feature -->
          <div class="col-xs-12 col-sm-4 aba-feature">
            <img width="91" height="74" src="/static/img/pages/about/icon-aba-feature3.png" alt="Media Inquiries - icon" />
            <h3>Media Inquiries</h3>
            <p>Please contact us at<br/> info@saiba.com <br />&nbsp;</p>
            <p><a class="btn btn-read-more" href="mailto:info@saiba.com">send us email <i class="fa fa-angle-right"></i></a></p>

          </div> <!-- ./aba-feature -->
        </div> <!-- ./row -->
      </div> <!-- ./container -->
    </section> <!-- ./saiba-about-features -->

  </main> <!-- ./default-main -->
{% endblock %}
