<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-5">
    <p class="footer-title">Download Wallet app</p>
    <a class="app-link" href="#"><img width="102" height="33" src="/static/img/layout/download-app-store.png" alt="Available on App Store" /></a>
    <a class="app-link" href="#"><img width="102" height="33" src="/static/img/layout/download-google-play.png" alt="Available on Google Play" /></a>
  </div> <!-- ./wallet-app -->
  <div class="col-xs-12 col-md-6 col-lg-5">
    <p class="footer-title">Download Merchant app</p>
    <a class="app-link" href="#"><img width="102" height="33" src="/static/img/layout/download-app-store.png" alt="Available on App Store" /></a>
    <a class="app-link" href="#"><img width="102" height="33" src="/static/img/layout/download-google-play.png" alt="Available on Google Play" /></a>
  </div> <!-- ./merchant-app -->
</div> <!-- ./download-app -->
