<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Saiba - Documentation</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <!-- FontAwesome CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>

  <!-- Owl Carousel styles -->
  <link rel="stylesheet" href="/static/css/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/css/owl-carousel/owl.theme.default.css">

  <!-- Theme Styles -->
  <link rel="stylesheet" href="/static/css/styles.css"/>

  <!-- Modernizr -->
  <script type="text/javascript" src="/static/js/modernizr.min.js"></script>


</head>

<body>

<div id="wrapper">
  <header class="top-bar taller">
    <nav class="navbar navbar-default main-nav">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#TopNav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="badge">2</span>
          </button>
          <a class="navbar-brand" href="/"><img src="/static/img/layout/saiba-logo.png" alt="Saiba" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="TopNav">
          <ul class="nav navbar-nav user-action">
            <li class="become-a-merchant mobile-only"><a class="btn btn-default" href="#">Download Wallet</a></li>
            <li class="become-a-merchant mobile-only"><a class="btn btn-default" href="#">Become a Merchant</a></li>
            <li><a href="#">Terms of Services</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right quick-links">
            <li><a href="/documentation/">Documentation</a></li>
            <li><a href="http://help.saiba.co.ke">Help</a></li>
           <!-- <li class="login"><a href="/sign-up.html">Sign In</a></li> -->
            <li class="become-a-merchant"><a class="btn btn-default" href="../merchant/register/">Become a Merchant</a></li>
          </ul>

          <div class="footer-links mobile-only">
            <div id="language-options-mobile" data-input-name="language-options-mobile" data-selected-country="US"></div>
            <div class="row">
              <div class="col-xs-6">
                <ul class="default-list">
                  <li><a href="/about.html">About</a></li>
                  <li><a href="/team.html">Team</a></li>
                  <li><a href="/contact.html">Contact</a></li>
                  <li><a href="#">Blog</a></li>
                </ul> <!-- ./footer-links -->
              </div> <!-- ./left -->

              <div class="col-xs-6">
                <ul class="default-list">
                  <li><a href="/legal/">Terms</a></li>
                  <li><a href="/legal/">Privacy</a></li>
                  <li><a href="/legal/">Copyright</a></li>
                </ul> <!-- ./footer-links -->
              </div> <!-- ./right -->
            </div> <!-- ./row -->
          </div> <!-- ./footer-links -->

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
  </header> <!-- #/header-container -->

  <main class="default-main legal-page">

    <section class="default-section account-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-3 page-sidebar">
            <div class="sidebar-widget">
              <p class="sidebar-title">Search documentation:</p>
              <form class="sidebar-search" action="#" method="get">
                <div class="form-group">
                  <input type="search" name="search" placeholder="Search.." />
                  <button type="submit"><i class="fa fa-search"></i></button>
                </div>
              </form>
            </div> <!-- ./sidebar-widget -->

            <div class="sidebar-widget">
              <h3 class="widget-title">Development</h3>

              <ul class="widget-links">
                <li><a href="#">Getting started</a>
                  <ul>
                    <li><a href="#">Embedded form</a></li>
                    <li><a href="#">Custom form</a></li>
                    <li><a href="#">Mobile app</a></li>
                  </ul>
                </li>
                <li><a href="#">Charging cards</a></li>
                <li><a href="#">Testing</a></li>
                <li><a href="#">Security</a></li>
                <li class="selected"><a href="#">Fraud protection</a></li>
                <li><a href="#">Webhooks</a></li>
                <li><a href="#">ACH Guide</a></li>
                <li><a href="#">Bitcoin Guide</a></li>
                <li><a href="#">Alipay Guide</a></li>
                <li><a href="#">File Upload Guide</a></li>
              </ul> <!-- ./widget-links -->


            </div> <!-- ./sidebar-widget -->

            <div class="sidebar-widget">
              <h3 class="widget-title">Getting Started</h3>

              <ul class="widget-links">
                <li><a href="#">Your Account</a></li>
                <li><a href="#">Getting Paid</a></li>
                <li><a href="#">Disputes</a>
                  <ul>
                    <li><a href="#">Submitting Evidence</a></li>
                    <li><a href="#">Dispute Types</a></li>
                    <li><a href="#">Disputes FAQ</a></li>
                  </ul>
                </li>
              </ul> <!-- ./widget-links -->
            </div> <!-- ./sidebar-widget -->

            <div class="sidebar-widget">
              <h3 class="widget-title">API Reference</h3>

              <ul class="widget-links">
                <li><a href="#">Checklist</a></li>
                <li><a href="#">API Libraries</a></li>
                <li><a href="#">API Upgrades</a></li>
              </ul> <!-- ./widget-links -->
            </div> <!-- ./sidebar-widget -->

          </div> <!-- ./page-sidebar -->

          <div class="col-xs-12 col-sm-9">
            <div class="page-content">
              <h2>Fraud Protection</h2>
              <p class="documentation-subtitle">Saiba offers integrated, automatic fraud protection for users of Saiba.js and Checkout.</p>

              <div class="row">
                <div class="col-xs-9">
                  <p>If you use Saiba.js or Checkout, Saiba automatically evaluates charges for fraud risk and blocks
                  those we believe are fraudulent. This process is automatic and does not require any extra
                  integration work, but you can improve the accuracy of our assessments by letting
                  us know if you believe a charge is</p>
                </div>
                <div class="col-xs-3 noPadding"><img class="img-responsive" src="/static/img/pages/documentation/image.jpg" alt="Image Placeholder" /></div>
              </div> <!-- ./row -->

              <h3>Getting information on charges Saiba thinks are fraudulent</h3>

              <p>If Saiba believes a payment is fraudulent, we will block the charge creation attempt.
              The error hash returned by the API will have a decline_code key with a value of fraudulent:</p>

              <div class="well code-sample">
                curl https://api.Saiba.com/v1/charges \<br />
                -u sk_test_BQokikJOvBiI2HlWgH4olfQ2: \<br />
                -d card=tok_51ZM3BwtekpEyl \<br />
                -d amount=2000 \<br />
                -d currency=usd
              </div> <!-- ./code-sample -->

              <p>The above returns the following in the response:</p>

              <div class="well code-sample">
                {<br />
                "error": {<br />
                "message": "Your card was declined.",<br />
                "type": "card_error",<br />
                "code": "card_declined",<br />
                "decline_code": "fraudulent",<br />
                "charge": "ch_5IZNUkTDe6ir9d"<br />
                }<br />
                }
              </div> <!-- ./code-sample -->

              <p>Payments blocked by Saiba are also indicated as such in the dashboard. Saiba evaluates fraud
                risk using machine learning algorithms that predict what is fraudulent based on your charge and
                dispute history. You will not see risk assessments (in the dashboard or in the API) until you have
                accumulated enough volume for our algorithms to give you relevant results.
                This will happen automatically.</p>

            </div> <!-- ./page-content -->
          </div> <!-- ./page-content -->
        </div> <!-- ./row -->
      </div> <!-- ./container -->
    </section> <!-- ./default-section -->

  </main>

  <footer class="main-footer notLoggedIn">
    <div class="container">
      <div class="row mobile-target">
        <div class="col-xs-12 col-sm-6 col-md-3 footer-links">
         <!-- <div id="language-options" data-input-name="language-options" data-selected-country="US"></div>-->

        </div> <!-- ./left -->
        <div class="col-xs-12 col-sm-6 col-md-9 download-app">

          <div class="row moveMe">
          <p class="footer-disclaimer col-xs-12"><strong>Financial institutions play an important role in the Saiba platform</strong>
          Saiba, Inc. is an agent of Veridian Credit Union and Compass Bank and all funds associated with your
            account in the Saiba network are held in pooled accounts at Veridian Credit Union and Compass Bank.
            These funds are not eligible for individual insurance, including FDIC insurance and may not be
            eligible for share insurance by the National Credit Union Share Insurance Fund. Saiba, Inc.
            is the operator of a software platform that communicates user instructions for funds transfers
            to Veridian Credit Union and Compass Bank.</p>
          </div> <!-- ./row -->
          <div class="row moveMe">
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
              <ul class="social-list">
                <li class="facebook"><a href="https://www.facebook.com/saibakenya"><i class="fa fa-facebook-official"></i></a></li>
                <li class="twitter"><a href="https://www.twitter.com/saibakenya"><i class="fa fa-twitter"></i></a></li>
                <li class="linkedin"><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                <li class="youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                <li class="github"><a href="#"><i class="fa fa-github"></i></a></li>
              </ul> <!-- ./social-list -->
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6">
              <p class="footer-copyright">&copy; 2016 Cybercity Holdings Limited</p>
            </div>

          </div> <!-- ./row -->
        </div> <!-- ./right -->
      </div> <!-- ./row -->
    </div> <!-- ./container -->
  </footer>
</div>
<!-- #/wrapper -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include js plugin -->
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/jquery.flagstrap.min.js"></script>
<script src="/static/js/custom.js"></script>

</body>
</html>
