<div class="col-xs-12 col-sm-6 col-md-4 footer-links">
  <!--<div id="language-options" data-input-name="language-options" data-selected-country="US"></div>-->
  <div class="row">
    <div class="col-xs-6">
      <ul class="default-list">
        <li><a href="/about/">About</a></li>
        <li><a href="/team/">Team</a></li>
        <li><a href="/contact/">Contact</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul> <!-- ./footer-links -->
    </div> <!-- ./left -->

    <div class="col-xs-6">
      <ul class="default-list">
        <li><a href="/legal/">Terms</a></li>
        <li><a href="/legal/">Privacy</a></li>
        <li><a href="/return-policy/">Return Policy</a></li>
        <li><a href="/legal/">Copyright</a></li>
      </ul> <!-- ./footer-links -->
    </div> <!-- ./right -->
  </div> <!-- ./row -->

</div> <!-- ./left -->
