<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Saiba - Help </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <!-- FontAwesome CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>

  <!-- Owl Carousel styles -->
  <link rel="stylesheet" href="/static/css/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/css/owl-carousel/owl.theme.default.css">

  <!-- Theme Styles -->
  <link rel="stylesheet" href="/static/css/styles.css"/>

  <!-- Modernizr -->
  <script type="text/javascript" src="/static/js/modernizr.min.js"></script>


</head>

<body>

<div id="wrapper">
  <header class="top-bar taller">
    <nav class="navbar navbar-default main-nav">

      {% include "top_links.html" %}



    </nav>

    <div id="search-topic">
      <div class="container">
        <div class="row">
          <p class="st-title col-xs-12 col-sm-4">What can help you with?</p>

          <form class="col-xs-12 col-sm-8 sidebar-search" action="#" method="post">
            <div class="form-group">
              <input type="search" name="search" placeholder="your topic..." />
              <button type="submit"><i class="fa fa-search"></i></button>
            </div>
          </form> <!-- ./topic-search -->

        </div> <!-- ./row -->
      </div> <!-- ./container -->
    </div> <!-- #/search-topic -->
  </header> <!-- #/header-container -->

  <main class="default-main help-main">

    <section class="default-section help-section">
      <div class="container">
        <h2>Wallet</h2>

        <div class="row">
          <a href="#" class="col-xs-6 col-lg-5ths faq-category">
            <img src="/static/img/pages/help/icon-wallet1.png" alt="Account" />
            <p>Account</p>
            <span class="q-number">3</span>
          </a>
          <a href="#" class="col-xs-6 col-lg-5ths faq-category">
            <img src="/static/img/pages/help/icon-wallet2.png" alt="Transactions" />
            <p>Transactions</p>
            <span class="q-number">19</span>
          </a>
          <a href="#" class="col-xs-6 col-lg-5ths faq-category">
            <img src="/static/img/pages/help/icon-wallet3.png" alt="Wallet" />
            <p>Wallet</p>
            <span class="q-number">6</span>
          </a>
          <a href="#" class="col-xs-6 col-lg-5ths faq-category">
            <img src="/static/img/pages/help/icon-wallet4.png" alt="Contacts" />
            <p>Contacts</p>
            <span class="q-number">2</span>
          </a>
          <a href="#" class="col-xs-6 col-lg-5ths faq-category">
            <img src="/static/img/pages/help/icon-wallet5.png" alt="Requests" />
            <p>Requests</p>
            <span class="q-number">13</span>
          </a>
        </div> <!-- ./row -->
      </div> <!-- ./container -->
    </section> <!-- ./help-section -->

    <section class="default-section help-section">
      <div class="container">
        <h2>Access</h2>
        <div class="row">
          <a href="#" class="col-xs-6 col-lg-3 faq-category">
            <img src="/static/img/pages/help/icon-access1.png" alt="Facebook Messenger" />
            <p>Facebook Messenger</p>
            <span class="q-number">5</span>
          </a>
          <a href="#" class="col-xs-6 col-lg-3 faq-category">
            <img src="/static/img/pages/help/icon-access2.png" alt="Telegram" />
            <p>Telegram</p>
            <span class="q-number">10</span>
          </a>
          <!--
          <a href="#" class="col-xs-6 col-lg-3 faq-category">
            <img src="/static/img/pages/help/icon-access3.png" alt="Palmchat" />
            <p>Palmchat</p>
            <span class="q-number">3</span>
          </a>
          <a href="#" class="col-xs-6 col-lg-3 faq-category">
            <img src="/static/img/pages/help/icon-access4.png" alt="Wechat" />
            <p>Wechat</p>
            <span class="q-number">2</span>
          </a>
          -->
        </div> <!-- ./row -->
      </div> <!-- ./container -->
    </section> <!-- ./help-section -->

    <section class="default-section help-section">
      <div class="container">
        <h2>Merchants</h2>
        <div class="row">
          <a href="#" class="col-xs-6 col-lg-3 faq-category">
            <img src="/static/img/pages/help/icon-merchant1.png" alt="Account" />
            <p>Account</p>
            <span class="q-number">25</span>
          </a>
          <a href="#" class="col-xs-6 col-lg-3 faq-category">
            <img src="/static/img/pages/help/icon-merchant2.png" alt="Sales" />
            <p>Sales</p>
            <span class="q-number">11</span>
          </a>
          <a href="#" class="col-xs-6 col-lg-3 faq-category">
            <img src="/static/img/pages/help/icon-merchant3.png" alt="Inventory" />
            <p>Inventory</p>
            <span class="q-number">3</span>
          </a>
          <a href="#" class="col-xs-6 col-lg-3 faq-category">
            <img src="/static/img/pages/help/icon-merchant4.png" alt="Payments" />
            <p>Payments</p>
            <span class="q-number">9</span>
          </a>

          <a href="#" class="col-xs-6 col-lg-3 faq-category">
            <img src="/static/img/pages/help/icon-merchant5.png" alt="Offers" />
            <p>Offers</p>
            <span class="q-number">25</span>
          </a>
          <a href="#" class="col-xs-6 col-lg-3 faq-category">
            <img src="/static/img/pages/help/icon-merchant6.png" alt="Events" />
            <p>Events</p>
            <span class="q-number">11</span>
          </a>
          <a href="#" class="col-xs-6 col-lg-3 faq-category">
            <img src="/static/img/pages/help/icon-merchant7.png" alt="Customers" />
            <p>Customers</p>
            <span class="q-number">3</span>
          </a>
          <a href="#" class="col-xs-6 col-lg-3 faq-category">
            <img src="/static/img/pages/help/icon-merchant8.png" alt="Deliveries" />
            <p>Deliveries</p>
            <span class="q-number">9</span>
          </a>
        </div> <!-- ./row -->
      </div> <!-- ./container -->
    </section> <!-- ./help-section -->


    <section class="default-section help-section">
      <div class="container">
        <h2>Connect</h2>

        <div class="row">
          <a href="https://www.facebook.com/saibakenya" class="col-xs-6 col-lg-3 faq-category">
            <img src="/static/img/pages/help/icon-connect1.png" alt="Facebook" />
            <p>Facebook</p>
            <span class="q-number">5</span>
          </a>
          <a href="https://twitter.com/saibakenya" class="col-xs-6 col-lg-3 faq-category">
            <img src="/static/img/pages/help/icon-connect2.png" alt="Twitter" />
            <p>Twitter</p>
            <span class="q-number">10</span>
          </a>
          <!--
          <a href="#" class="col-xs-6 col-lg-3 faq-category">
            <img src="/static/img/pages/help/icon-connect3.png" alt="Pinterest" />
            <p>Pinterest</p>
            <span class="q-number">3</span>
          </a>
          <a href="#" class="col-xs-6 col-lg-3 faq-category">
            <img src="/static/img/pages/help/icon-connect4.png" alt="Instagram" />
            <p>Instagram</p>
            <span class="q-number">2</span>
          </a>
          -->
        </div> <!-- ./row -->

      </div> <!-- ./container -->
    </section> <!-- ./help-section -->


  </main>

  <footer class="main-footer notLoggedIn">
    <div class="container">
      <div class="row mobile-target">
        <div class="col-xs-12 col-sm-6 col-md-3 footer-links">
          <div id="language-options" data-input-name="language-options" data-selected-country="US"></div>

        </div> <!-- ./left -->
        <div class="col-xs-12 col-sm-6 col-md-9 download-app">

          <div class="row moveMe">
          <p class="footer-disclaimer col-xs-12"><strong>Financial institutions play an important role in the Saiba platform</strong>
          Saiba, Inc. is an agent of Veridian Credit Union and Compass Bank and all funds associated with your
            account in the Saiba network are held in pooled accounts at Veridian Credit Union and Compass Bank.
            These funds are not eligible for individual insurance, including FDIC insurance and may not be
            eligible for share insurance by the National Credit Union Share Insurance Fund. Saiba, Inc.
            is the operator of a software platform that communicates user instructions for funds transfers
            to Veridian Credit Union and Compass Bank.</p>
          </div> <!-- ./row -->
          <div class="row moveMe">
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
              <ul class="social-list">
                <li class="facebook"><a href="https://www.facebook.com/saibakenya"><i class="fa fa-facebook-official"></i></a></li>
                <li class="twitter"><a href="https://www.twitter.com/saibakenya"><i class="fa fa-twitter"></i></a></li>
                <li class="linkedin"><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                <li class="youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                <li class="github"><a href="#"><i class="fa fa-github"></i></a></li>
              </ul> <!-- ./social-list -->
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6">
              <p class="footer-copyright">&copy; 2016 Cybercity Holdings Limited</p>
            </div>

          </div> <!-- ./row -->
        </div> <!-- ./right -->
      </div> <!-- ./row -->
    </div> <!-- ./container -->
  </footer>
</div>
<!-- #/wrapper -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include js plugin -->
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/jquery.flagstrap.min.js"></script>
<script src="/static/js/custom.js"></script>

</body>
</html>
