<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Saiba - Home</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <!-- FontAwesome CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>

  <!-- Owl Carousel styles -->
  <link rel="stylesheet" href="/static/css/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/css/owl-carousel/owl.theme.default.css">

  <!-- Theme Styles -->
  <link rel="stylesheet" href="/static/css/styles.css"/>

  <!-- Modernizr -->
  <script type="text/javascript" src="/static/js/modernizr.min.js"></script>

    <link rel="icon" type="image/png" href="/static/img/favicon.ico" sizes="32x32" />
<link rel="icon" type="image/png" href="/static/img/favicon.ico" sizes="16x16" />




</head>

<body>

<div id="wrapper">
  <header id="home-slider">
    <nav class="navbar navbar-default main-nav">
{% include "top_links.html" %}

    </nav>

    <div class="default-carousel">
      <div class="owl-carousel homepage-carousel owl-theme">
        <div class="item" >
          <h1 class="slide-headline">Smarter Money</h1>
          <p class="slide-caption">Simple and smart way to spend and manage your money in one place</p>
          <p class="slide-tools"><a href="#" class="btn btn-default btn-download">Download Wallet</a></p>

          <img class="slide-featured" src="/static/img/slider/home/home-slide1.png" alt="Saiba App - Smarter Money" />
        </div> <!-- ./item -->
        <div class="item" >
          <h1 class="slide-headline">Save and<br /> Manage Money</h1>
          <p class="slide-caption">Save money by being given cash back when you spend and manage your cashflow by borrowing money just when you need it.</p>


          <img class="slide-featured" src="/static/img/slider/home/home-slide2.png" alt="Saiba App - Save and Manage Money" />
        </div> <!-- ./item -->
        <div class="item" >
          <h1 class="slide-headline">Leverage<br /> Your Phonebook</h1>
          <p class="slide-caption">Access all the contacts in your phonebook from within the app making it simple
            for you to send money or airtime to the right person quickly and accurately</p>


          <img class="slide-featured" src="/static/img/slider/home-slide3.png" alt="Saiba App - Leverage Your Phonebook" />
        </div> <!-- ./item -->
        <div class="item" >
          <h1 class="slide-headline">Request<br /> your Friends</h1>
          <p class="slide-caption">Request your family and friends to buy you airtime, data or even pay your bills</p>


          <img class="slide-featured" src="/static/img/slider/home-slide4.png" alt="Saiba App - Request your Friends" />
        </div> <!-- ./item -->
      </div> <!-- ./owl-carousel -->

      <div class="custom-owl-nav">
        <div class="owl-controls">
          <div class="owl-nav"></div>
        </div> <!-- ./owl-controls -->
      </div> <!-- ./custom-owl-nav -->
      <div class="custom-owl-dots owl-theme">
        <div class="owl-dots"></div>
      </div> <!-- ./custom-owl-dots -->

    </div> <!-- ./default-carousel -->


  </header> <!-- #/home-slider -->

  <main class="default-main">
    <section class="default-section saiba-features">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-5 feature-item">
            <p class="feature-icon"><img width="75" height="78" src="/static/img/home-icons/feature-icon1.png" alt="wallet" /><span>wallet</span></p>
            <h2 class="feature-title">Spend and Manage Your Money from a Single Place</h2>

            <p class="feature-summary">Packed with revolutionary features that make your more productive in the new world of borderless,
              operatorless and bankless money.</p>

          <!--  <p><a class="btn btn-read-more" href="#">read more <i class="fa fa-angle-right"></i></a></p>-->
          </div> <!-- ./feature-item -->
          <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-2 feature-item">
            <p class="feature-icon"><img width="67" height="78" src="/static/img/home-icons/feature-icon2.png" alt="access" /><span>access</span></p>
            <h2 class="feature-title">Access Saiba from the Apps you Already Know and Love</h2>

            <p class="feature-summary"> Packed with revolutionary features that make your more productive in the new</p>

            <!--<p><a class="btn btn-read-more" href="#">read more <i class="fa fa-angle-right"></i></a></p>-->
          </div> <!-- ./feature-item -->
        </div> <!--./row -->

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-5 feature-item">
            <p class="feature-icon"><img width="87" height="78" src="/static/img/home-icons/feature-icon3.png" alt="merchant" /><span>merchant</span></p>
            <h2 class="feature-title">Sell and Accept Payments And So Much More</h2>

            <p class="feature-summary">Packed with revolutionary features that make your more productive in the new world of borderless,
              operatorless and bankless money.</p>

            <!--<p><a class="btn btn-read-more" href="#">read more <i class="fa fa-angle-right"></i></a></p>-->
          </div> <!-- ./feature-item -->
          <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-2 feature-item">
            <p class="feature-icon"><img width="76" height="78" src="/static/img/home-icons/feature-icon4.png" alt="connect" /><span>connect</span></p>
            <h2 class="feature-title">Connect Your Social Media Accounts to Saiba and Manage Your Business</h2>

            <p class="feature-summary"> Packed with revolutionary features that make your more productive in the new</p>

            <!--- <p><a class="btn btn-read-more" href="#">read more <i class="fa fa-angle-right"></i></a></p>-->

          </div> <!-- ./feature-item -->
        </div> <!-- ./row -->
      </div> <!-- ./container -->
    </section> <!-- ./saiba-features -->

    <section class="default-section saiba-region">
      <div class="container">
          <h2>We are Regional</h2>
          <p class="section-subtitle">
            Saiba is the only wallet that can be used from the entire region.<br />
            This means you can pay or accept payment, buy goods and services from anyone anywhere in Kenya, Uganda, Tanzania and Rwanda. 
          </p>

        <p class="worldwide-connected text-center">
          <img width="811" height="162" src="/static/img/layout/worldwide-connected.png" alt="Worldwide Connected" />
        </p>

        <div class="row">
          <div class="col-xs-12 col-sm-3 region-box">
            <img width="53" height="66" src="/static/img/regions/region-kenya.png" alt="Kenya" />
            <p class="region-title">Kenya</p>

            <ul class="region-features">
              <li><span>3</span> banks</li>
              <li><span>15</span> mobile operators</li>
              <li><span>23</span> service providers</li>
            </ul> <!-- ./region-features -->

          </div> <!-- ./region-box -->
          <div class="col-xs-12 col-sm-3 region-box">
            <img width="63" height="66" src="/static/img/regions/region-uganda.png" alt="Uganda" />
            <p class="region-title">Uganda</p>

            <ul class="region-features">
              <li><span>3</span> banks</li>
              <li><span>15</span> mobile operators</li>
              <li><span>23</span> service providers</li>
            </ul> <!-- ./region-features -->

          </div> <!-- ./region-box -->
          <div class="col-xs-12 col-sm-3 region-box">
            <img width="70" height="66" src="/static/img/regions/region-tanzania.png" alt="Tanzania" />
            <p class="region-title">Tanzania</p>

            <ul class="region-features">
              <li><span>3</span> banks</li>
              <li><span>15</span> mobile operators</li>
              <li><span>23</span> service providers</li>
            </ul> <!-- ./region-features -->

          </div> <!-- ./region-box -->
          <div class="col-xs-12 col-sm-3 region-box">
            <img width="78" height="66" src="/static/img/regions/region-rwanda.png" alt="Rwanda" />
            <p class="region-title">Rwanda</p>

            <ul class="region-features">
              <li><span>3</span> banks</li>
              <li><span>15</span> mobile operators</li>
              <li><span>23</span> service providers</li>
            </ul> <!-- ./region-features -->

          </div> <!-- ./region-box -->
        </div> <!-- ./row -->
      </div> <!-- ./container -->
    </section> <!-- ./saiba-region -->
  </main> <!-- ./default-main -->

  <footer class="main-footer">
    <div class="container">
      <div class="row mobile-target">
        <div class="col-xs-12 col-sm-6 col-md-4 footer-links">
         <!-- <div id="language-options" data-input-name="language-options" data-selected-country="US"></div>-->
          <div class="row">
            <div class="col-xs-6">
              <ul class="default-list">
                <li><a href="/about/">About</a></li>
                <li><a href="/team/">Team</a></li>
                <li><a href="/contact/">Contact</a></li>
                <li><a href="/blog">Blog</a></li>
              </ul> <!-- ./footer-links -->
            </div> <!-- ./left -->

            <div class="col-xs-6">
              <ul class="default-list">
                <li><a href="/legal/">Terms</a></li>
                <li><a href="/legal/">Privacy</a></li>
                <li><a href="/legal/">Copyright</a></li>
              </ul> <!-- ./footer-links -->
            </div> <!-- ./right -->
          </div> <!-- ./row -->

        </div> <!-- ./left -->
        <div class="col-xs-12 col-sm-6 col-md-8 download-app">

  {% include "appstore_links.html" %}

          <div class="row moveMe">
          <p class="footer-disclaimer col-xs-12"><strong>Financial institutions play an important role in the Saiba platform</strong>
          Saiba, Inc. is an agent of Veridian Credit Union and Compass Bank and all funds associated with your
            account in the Saiba network are held in pooled accounts at Veridian Credit Union and Compass Bank.
            These funds are not eligible for individual insurance, including FDIC insurance and may not be
            eligible for share insurance by the National Credit Union Share Insurance Fund. Saiba, Inc.
            is the operator of a software platform that communicates user instructions for funds transfers
            to Veridian Credit Union and Compass Bank.</p>
          </div> <!-- ./row -->
          <div class="row moveMe">
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
              <ul class="social-list">
                <li class="facebook"><a href="https://www.facebook.com/saibakenya"><i class="fa fa-facebook-official"></i></a></li>
                <li class="twitter"><a href="https://www.twitter.com/saibakenya"><i class="fa fa-twitter"></i></a></li>
                <li class="linkedin"><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                <li class="youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                <li class="github"><a href="#"><i class="fa fa-github"></i></a></li>
              </ul> <!-- ./social-list -->
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6">
              <p class="footer-copyright">&copy; 2016 Cybercity Holdings Limited</p>
            </div>

          </div> <!-- ./row -->
        </div> <!-- ./right -->
      </div> <!-- ./row -->
    </div> <!-- ./container -->
  </footer>
</div>
<!-- #/wrapper -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include js plugin -->
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/jquery.flagstrap.min.js"></script>
<script src="/static/js/custom.js"></script>

</body>
</html>
