<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Saiba - Legal</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <!-- FontAwesome CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>

  <!-- Owl Carousel styles -->
  <link rel="stylesheet" href="/static/css/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/css/owl-carousel/owl.theme.default.css">

  <!-- Theme Styles -->
  <link rel="stylesheet" href="/static/css/styles.css"/>

  <!-- Modernizr -->
  <script type="text/javascript" src="/static/js/modernizr.min.js"></script>


</head>

<body>

<div id="wrapper">
  <header class="top-bar taller">
    <nav class="navbar navbar-default main-nav">

  {% include "top_links.html" %}


    </nav>
  </header> <!-- #/header-container -->

  <main class="default-main legal-page">

    <section class="default-section account-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-3 page-sidebar">
            <div class="sidebar-widget">
              <p class="sidebar-title">Choose the country:</p>
              <div id="country-selection" data-input-name="country-selection" data-selected-country="Ke"></div>
            </div> <!-- ./sidebar-widget -->

            <div class="sidebar-widget">
              <h3 class="widget-title">Terms of Service</h3>

              <ul class="widget-links">
                <li><a href="#">Users</a></li>
                <li><a href="#">Merchants</a></li>
                <li><a href="#">Partners</a></li>
              </ul> <!-- ./widget-links -->
            </div> <!-- ./sidebar-widget -->

            <div class="sidebar-widget">
              <h3 class="widget-title">Privacy Policy</h3>
            </div> <!-- ./sidebar-widget -->

            <div class="sidebar-widget">
              <h3 class="widget-title">Copyright</h3>
            </div> <!-- ./sidebar-widget -->

          </div> <!-- ./page-sidebar -->

          <div class="col-xs-12 col-sm-9">
            <div class="page-content">
              <h2>About our terms of service</h2>

              <p>Welcome to Stripe. We developed a payment service (the “Stripe Payments”) to make it easy for you to accept
              credit and debit card payments online from your customers so you can focus on your own product or service.
              We have also developed additional services that you can use with Stripe Payments, such as Stripe Connect
              (allowing you to share data and management of your account with various platforms) and Stripe Relay
              (allowing you to publish product information and accept orders through various channels).</p>

              <p>We have tried to draft these Merchant Terms of Service to be readable, but should you have any questions
              or concerns or would simply like to better understand how we do things at Stripe, please do not
              hesitate to contact us.</p>

              <p>Below is a quick description of the sections in this Agreement, but there are important details in the
              whole document, so you should read it.</p>


              <h3>The Stripe Services</h3>

              <p>We provide you with software and a service to process your online payments; we will respect and protect
              your privacy, data and personal information. You run your business, service your customers, protect
              your customers’ data, report & pay taxes, and observe all laws, rules, and regulations. Stripe may
              offer other services to you that may be subject to additional or different terms. <a class="default-link" href="#">Complete details</a></p>


              <h3>Registering for Stripe</h3>

              <p>You provide us with basic information about your company; we will seek to verify your information
              (we may work with third parties to do so) and approve your account unless deemed risky
              (by us or our payment processors). You give us permission to do all this, and to periodically update
              the information or we otherwise must decline to offer Stripe Services to you. There are some
              prohibited activities for which you may not use the Stripe Services. <a class="default-link" href="#">Complete details</a></p>


              <h3>Receiving your Funds from Card Transactions</h3>

              <p>Funds from your transactions (minus our fees) are paid to you at a schedule communicated to you once
              your Stripe Account is approved. Initial payouts for your card transactions are typically sent to
              your bank within 7 days. A certain amount of your funds may be subject to an additional hold period
              (e.g. Reserve Account) with terms determined by your perceived risk and transaction history. You are
              responsible for refunds, returns, and liable for customer disputes (chargebacks).
                <a class="default-link" href="#">Complete details</a></p>
            </div> <!-- ./page-content -->
          </div> <!-- ./page-content -->
        </div> <!-- ./row -->
      </div> <!-- ./container -->
    </section> <!-- ./default-section -->

  </main>

  <footer class="main-footer notLoggedIn">
    <div class="container">
      <div class="row mobile-target">
        <div class="col-xs-12 col-sm-6 col-md-3 footer-links">
          <div id="language-options" data-input-name="language-options" data-selected-country="US"></div>

        </div> <!-- ./left -->
        <div class="col-xs-12 col-sm-6 col-md-9 download-app">

          <div class="row moveMe">
          <p class="footer-disclaimer col-xs-12"><strong>Financial institutions play an important role in the Saiba platform</strong>
          Saiba, Inc. is an agent of Veridian Credit Union and Compass Bank and all funds associated with your
            account in the Saiba network are held in pooled accounts at Veridian Credit Union and Compass Bank.
            These funds are not eligible for individual insurance, including FDIC insurance and may not be
            eligible for share insurance by the National Credit Union Share Insurance Fund. Saiba, Inc.
            is the operator of a software platform that communicates user instructions for funds transfers
            to Veridian Credit Union and Compass Bank.</p>
          </div> <!-- ./row -->
          <div class="row moveMe">
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
              <ul class="social-list">
                <li class="facebook"><a href="https://www.facebook.com/saibakenya"><i class="fa fa-facebook-official"></i></a></li>
                <li class="twitter"><a href="https://www.twiter.com/saibakenya"><i class="fa fa-twitter"></i></a></li>
                <li class="linkedin"><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                <li class="youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                <li class="github"><a href="#"><i class="fa fa-github"></i></a></li>
              </ul> <!-- ./social-list -->
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6">
              <p class="footer-copyright">&copy; 2016 Cybercity Holdings Limited</p>
            </div>

          </div> <!-- ./row -->
        </div> <!-- ./right -->
      </div> <!-- ./row -->
    </div> <!-- ./container -->
  </footer>
</div>
<!-- #/wrapper -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include js plugin -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.flagstrap.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>
