<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Saiba - Overview</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <!-- FontAwesome CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>

  <!-- Owl Carousel styles -->
  <link rel="stylesheet" href="/static/css/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/css/owl-carousel/owl.theme.default.css">

  <!-- Theme Styles -->
  <link rel="stylesheet" href="/static/css/styles.css"/>

  <!-- Modernizr -->
  <script type="text/javascript" src="/static//static/js/modernizr.min.js"></script>


</head>

<body>

<div id="wrapper">
  <header id="header-container">
    <nav class="navbar navbar-default main-nav">
  {% include "top_links.html" %}
    </nav>

    <div class="default-carousel merchant-header">
      <h1 class="slide-headline">Saiba Platform</h1>
      <p class="slide-caption">
        Packed with revolutionary features that make your more productive in the new world of borderless,
        operatorless and bankless money. 
      </p>

      <img class="slide-featured" src="/static/img/pages/overview/overview-featured.png" alt="Overview Featured" />
    </div> <!-- ./merchant-header -->


  </header> <!-- #/header-container -->

  <main class="default-main">
    <section class="default-section saiba-overview-features">
      <div class="container">
        <div class="row app-row">
          <div class="col-xs-12 col-md-6 app-feature-info">
            <h2 class="feature-title">Smarter Money</h2>
            <p class="feature-summary">
              Saiba platform is operatorless, bankless and bordeless. Join the world of smarter money and
              transact form wherever and whenever while still maintaining control over all aspects of your
              finances or business from one place<br /><br />
              We have leveraged technology to fill in the little cracks left out by mobile money, credit cards
              and bank accounts. Join now and see how we can make your money smarter
            </p>
          </div> <!-- ./app-feature-info -->
          <div class="col-xs-12 col-md-6 feature-img">
            <img width="205" height="211" src="/static/img/pages/overview/overview1.png" alt="Saiba - Smarter Money" />
          </div>
        </div> <!-- ./app-row -->

        <div class="row app-row">
          <div class="col-xs-12 col-md-6 col-md-push-6 app-feature-info">
            <h2 class="feature-title">Cashback Program</h2>
            <p class="feature-summary">
              Our platform does not reply on agents to distribute our services.
              It is a self-service platform that anyone access.<br /><br />
              For every purchase you make we give you part of the commissions and discounts we get.
              This means great saving since you spend less on your next purchase
            </p>
          </div> <!-- ./app-feature-info -->
          <div class="col-xs-12 col-md-6 col-md-pull-6 feature-img">
            <img width="216" height="211" src="/static/img/pages/overview/overview2.png" alt="Saiba - Cashback Program" />
          </div>
        </div> <!-- ./app-row -->

        <div class="row app-row">
          <div class="col-xs-12 col-md-6 app-feature-info">
            <h2 class="feature-title">Transactional Credit</h2>
            <p class="feature-summary">
              Access credit when you need it right at the point of purchase. You can borrow the entire
              amount or just topup from your wallet. This is right from within
              the platform or across the ecosystem platform<br /><br />

              The amount lent to you depends on your transactions value and frequncy.
              The more you buy the more credit you get
            </p>
          </div> <!-- ./app-feature-info -->
          <div class="col-xs-12 col-md-6 feature-img">
            <img width="211" height="211" src="/static/img/pages/overview/overview3.png" alt="Saiba - Transactional Credit" />
          </div>
        </div> <!-- ./app-row -->

        <div class="row app-row">
          <div class="col-xs-12 col-md-6 col-md-push-6 app-feature-info">
            <h2 class="feature-title">Everywhere &amp; Anywhere</h2>
            <p class="feature-summary">
              Saiba can be accessed from our website, Android and (later iOS) apps.<br /><br />
              Access Saiba from the apps you know and love. It can also be used from almost all social
              media apps as well whether you want to purchase, accept payment or sell products</p>
          </div> <!-- ./app-feature-info -->
          <div class="col-xs-12 col-md-6 col-md-pull-6 feature-img">
            <img width="195" height="211" src="/static/img/pages/overview/overview4.png" alt="Saiba - Everywhere and Anywhere" />
          </div>
        </div> <!-- ./app-row -->

        <div class="row">
          <div class="col-xs-12 col-sm-4 oa-feature">
            <img width="55" height="74" src="/static/img/pages/overview/icon-oa-feature1.png" alt="Safe and Security - icon" />
            <h3>Safe &amp; Security</h3>
            <p>
              Connect and follow the brands that you love to receive coupons, offers, vouchers
              and even your utility bills. Chat with cusomer care from right withi the app
            </p>
           <!-- <p><a class="btn btn-read-more" href="#">more <i class="fa fa-angle-right"></i></a></p> -->

          </div> <!-- ./oa-feature -->
          <div class="col-xs-12 col-sm-4 oa-feature">
            <img width="76" height="74" src="/static/img/pages/overview/icon-oa-feature2.png" alt="Beautiful Dashboards - icon" />
            <h3>Beautiful Dashboards</h3>
            <p>
              Send requests to your friends and family and request them to help with buying you
              airtime or data or even pay your bills. Do all this while still
              maintaining 100% control of your privacy
            </p>
            <!-- <p><a class="btn btn-read-more" href="#">more <i class="fa fa-angle-right"></i></a></p>-->

          </div> <!-- ./oa-feature -->
          <div class="col-xs-12 col-sm-4 oa-feature">
            <img width="91" height="74" src="/static/img/pages/overview/icon-oa-feature3.png" alt="Powerful Analytics - icon" />
            <h3>Powerful Analytics</h3>
            <p>
              Access all the contacts in your phonebook from within the app making it simple
              for you to send money or airtime to the right person quickly and accurately
            </p>
            <!--<p><a class="btn btn-read-more" href="#">more <i class="fa fa-angle-right"></i></a></p>-->

          </div> <!-- ./oa-feature -->
        </div> <!-- ./row -->

      </div> <!-- ./container -->
    </section> <!-- ./saiba-access-features -->

  </main> <!-- ./default-main -->

  <footer class="main-footer">
    <div class="container">
      <div class="row mobile-target">

          {% include "footer_links_terms.html" %}
        <div class="col-xs-12 col-sm-6 col-md-8 download-app">

          {% include "appstore_links.html" %}

          <div class="row moveMe">
          <p class="footer-disclaimer col-xs-12"><strong>Financial institutions play an important role in the Saiba platform</strong>
          <!-- Saiba, Inc. is an agent of Veridian Credit Union and Compass Bank and all funds associated with your
            account in the Saiba network are held in pooled accounts at Veridian Credit Union and Compass Bank.
            These funds are not eligible for individual insurance, including FDIC insurance and may not be
            eligible for share insurance by the National Credit Union Share Insurance Fund. Saiba, Inc.
            is the operator of a software platform that communicates user instructions for funds transfers
            to Veridian Credit Union and Compass Bank. --></p>
          </div> <!-- ./row -->
          <div class="row moveMe">
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
              <ul class="social-list">
                <li class="facebook"><a href="https://www.facebook.com/saibakenya"><i class="fa fa-facebook-official"></i></a></li>
                <li class="twitter"><a href="https://www.twitter.com/saibakenya"><i class="fa fa-twitter"></i></a></li>
                <li class="linkedin"><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                <li class="youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                <li class="github"><a href="#"><i class="fa fa-github"></i></a></li>
              </ul> <!-- ./social-list -->
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-pull-6">
              <p class="footer-copyright">&copy; 2016 Cybercity Holdings Limited</p>
            </div>

          </div> <!-- ./row -->
        </div> <!-- ./right -->
      </div> <!-- ./row -->
    </div> <!-- ./container -->
  </footer>
</div>
<!-- #/wrapper -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include js plugin -->
<script src="/static/bootstrap//js/bootstrap.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/jquery.flagstrap.min.js"></script>
<script src="/static/js/custom.js"></script>

</body>
</html>
