<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Saiba - Return Policy</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <!-- FontAwesome CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>

  <!-- Owl Carousel styles -->
  <link rel="stylesheet" href="/static/css/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/css/owl-carousel/owl.theme.default.css">

  <link rel="icon" type="image/png" href="/static/img/favicon.ico"/>

  <!-- Theme Styles -->
  <link rel="stylesheet" href="/static/css/styles.css"/>

  <!-- Modernizr -->
  <script type="text/javascript" src="/static/js/modernizr.min.js"></script>


</head>

<body>

  <div id="wrapper">
    <header class="top-bar taller">
      <nav class="navbar navbar-default main-nav">

        {% include "top_links.html" %}


      </nav>
    </header> <!-- #/header-container -->

    <main class="default-main legal-page">

      <section class="default-section account-section">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-3 page-sidebar">
              <div class="sidebar-widget">
                <p class="sidebar-title">Choose the country:</p>
                <div id="country-selection" data-input-name="country-selection" data-selected-country="Ke"></div>
              </div> <!-- ./sidebar-widget -->

              <div class="sidebar-widget">
                <h3 class="widget-title" style=" color: #fff; ">Terms of Service</h3>
              
                <ul class="widget-links">
                  <li><a href="#">Users</a></li>
                  <li><a href="#">Merchants</a></li>
                  <li><a href="#">Partners</a></li>
                </ul> <!-- ./widget-links -->
              </div> <!-- ./sidebar-widget -->

              <div class="sidebar-widget">
                <h3 class="widget-title">Privacy Policy</h3>
              </div> <!-- ./sidebar-widget -->

              <div class="sidebar-widget">
                <h3 class="widget-title">Copyright</h3>
              </div> <!-- ./sidebar-widget -->

            </div> <!-- ./page-sidebar -->

            <div class="col-xs-12 col-sm-9">

              <div class="page-content">
                
              <h3>Saiba Return And Refund Policy</h3>
              <p> Saiba is committed to process all refunds within 24 hours.Please note that banks take 3-5 days to process the refunds.</p>  

              <h3>Who Can Get A Refund?</h3> 
              <p>Saiba gives a refund if payment is successful, and payment is credited to Saiba balance but user is not able to get airtime or pay for bills and services</p>

              <h3> How to request a refund? </h3>
                <p>Fill in the Customer Support Request in the Help section of your app.  Mention your current Saiba balance and the problem you are facing. We typically respond in no more than 6 hours. Please note that banks take 3-5 days to process the refunds.</p>
              <h3>What if I have excess Saiba balance but I don’t want to use it?</h3>
                <p>According to governmental regulations, it is not possible to convert your Saiba Balance into currency, therefore, we cannot refund unless there is a problem with your purchase of airtime or payment of bills and services.</p>
      
          </div> <!-- ./page-content -->
        </div> <!-- ./row -->
      </div> <!-- ./container -->
    </section> <!-- ./default-section -->

  </main>

  <footer class="main-footer notLoggedIn">
    <div class="container">
      <div class="row mobile-target">
        <div class="col-xs-12 col-sm-6 col-md-3 footer-links">
          <div id="language-options" data-input-name="language-options" data-selected-country="US"></div>

        </div> <!-- ./left -->
        <div class="col-xs-12 col-sm-6 col-md-9 download-app">

          <div class="row moveMe">
            <p class="footer-disclaimer col-xs-12"><strong>Financial institutions play an important role in the Saiba platform</strong>

              <!-- Saiba, Inc. is an agent of Veridian Credit Union and Compass Bank and all funds associated with your
              account in the Saiba network are held in pooled accounts at Veridian Credit Union and Compass Bank.
              These funds are not eligible for individual insurance, including FDIC insurance and may not be
              eligible for share insurance by the National Credit Union Share Insurance Fund. Saiba, Inc.
              is the operator of a software platform that communicates user instructions for funds transfers
              to Veridian Credit Union and Compass Bank. --></p>
              
            </div> <!-- ./row -->
            <div class="row moveMe">
              <div class="col-xs-12 col-sm-6 col-sm-push-6">
                <ul class="social-list">
                  <li class="facebook"><a href="https://www.facebook.com/saibakenya"><i class="fa fa-facebook-official"></i></a></li>
                  <li class="twitter"><a href="https://www.twiter.com/saibakenya"><i class="fa fa-twitter"></i></a></li>
                  <li class="linkedin"><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                  <li class="youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                  <li class="github"><a href="#"><i class="fa fa-github"></i></a></li>
                </ul> <!-- ./social-list -->
              </div>
              <div class="col-xs-12 col-sm-6 col-sm-pull-6">
                <p class="footer-copyright">&copy; 2016 Cybercity Holdings Limited</p>
              </div>

            </div> <!-- ./row -->
          </div> <!-- ./right -->
        </div> <!-- ./row -->
      </div> <!-- ./container -->
    </footer>
  </div>
  <!-- #/wrapper -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include js plugin -->
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.flagstrap.min.js"></script>
  <script src="js/custom.js"></script>

</body>
</html>
