<div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#TopNav" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="badge">2</span>
    </button>
    <a class="navbar-brand" href="/"><img width="125" height="60" src="/static/img/layout/saiba-logo.png" alt="Saiba" /></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="TopNav">
    <ul class="nav navbar-nav">
      <li class="become-a-merchant mobile-only"><a class="btn btn-default" href="#">Download Wallet</a></li>
      <li class="become-a-merchant mobile-only"><a class="btn btn-default" href="#">Become a Merchant</a></li>
      <li class="features"><a href="/overview/">Features</a></li>
      <li class="dropdown products">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <i class="fa fa-chevron-down"></i></a>
        <ul class="dropdown-menu">
          <li><a href="/wallet/">Wallet</a></li>
         <!--- <li><a href="/access.html">Access</a></li>
          <li><a href="/merchant.html">Merchant</a></li>
          <li><a href="/connect.html">Connect</a></li>-->
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right quick-links">
      <li><a href="/documentation/">Documentation</a></li>
      <li><a href="http://help.saiba.co.ke/">Help</a></li>
      <!---<li class="login"><a href="/sign-in.html">Sign In</a></li>-->
      <li class="become-a-merchant"><a class="btn btn-default" href="/merchant/register/">Become a Merchant</a></li>
    </ul>

    <div class="footer-links mobile-only">
      <div id="language-options-mobile" data-input-name="language-options-mobile" data-selected-country="US"></div>
      <div class="row">
        <div class="col-xs-6">
          <ul class="default-list">
            <li><a href="/about">About</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul> <!-- ./footer-links -->
        </div> <!-- ./left -->

        <div class="col-xs-6">
          <ul class="default-list">
            <li><a href="/legal/">Terms</a></li>
            <li><a href="/legal/">Privacy</a></li>
            <li><a href="/legal/">Copyright</a></li>
          </ul> <!-- ./footer-links -->
        </div> <!-- ./right -->
      </div> <!-- ./row -->
    </div> <!-- ./footer-links -->

  </div><!-- /.navbar-collapse -->
</div><!-- /.container -->
