

{% extends 'base.html' %}
{% block title %} Saiba - Wallet {% endblock %}

{% block content %}
    <div class="default-carousel merchant-header">
      <h1 class="slide-headline">Saiba Wallet</h1>
      <p class="slide-caption">
        A simple and smart way to manage your money from a single place
      </p>
      <p class="slide-tools"><a href="#" class="btn btn-default btn-download">get Wallet app</a></p>

      <img class="slide-featured" src="/static/img/pages/wallet/wallet-featured.png" alt="Wallet Featured" />
    </div> <!-- ./merchant-header -->


  </header> <!-- #/header-container -->

  <main class="default-main">
    <section class="default-section saiba-wallet-features">
      <div class="container">
        <div class="row app-row">
          <div class="col-xs-12 col-md-6 app-feature-info">
            <h2 class="feature-title">Spend Smartly</h2>
            <p class="feature-summary">With Saiba it doesn't matter where your business is located. By partnering
              with us and selling on our platform, your business scales across East Africa right away. 
            </p>
           <!-- <p><a class="btn btn-read-more" href="#">see how <i class="fa fa-angle-right"></i></a></p> -->
          </div> <!-- ./app-feature-info -->
          <div class="col-xs-12 col-md-6">
            <img width="440" height="437" src="/static/img/pages/wallet/wallet-spend-smartly.png" alt="Saiba - Spend Smartly" />
          </div>
        </div> <!-- ./app-row -->

        <div class="row app-row">
          <div class="col-xs-12 col-md-6 col-md-push-6 app-feature-info">
            <h2 class="feature-title">Manage your Money</h2>
            <p class="feature-summary">With Saiba it doesn't matter where your business is located.
              By partnering with us and selling on our platform, your business scales across East Africa right away.</p>
            <!--<p><a class="btn btn-read-more" href="#">see how <i class="fa fa-angle-right"></i></a></p>-->
          </div> <!-- ./app-feature-info -->
          <div class="col-xs-12 col-md-6 col-md-pull-6">
            <img width="440" height="437" src="/static/img/pages/wallet/wallet-manage-money.png"
                 alt="Saiba - Manage Your Money" />
          </div>
        </div> <!-- ./app-row -->

        <div class="row app-row">
          <div class="col-xs-12 col-md-6 app-feature-info">
            <h2 class="feature-title">Leverage your Contacts</h2>
            <p class="feature-summary">With Saiba it doesn't matter where your business is located.
              By partnering with us and selling on our platform, your business scales across East Africa right away.</p>
            <!---<p><a class="btn btn-read-more" href="#">see how <i class="fa fa-angle-right"></i></a></p>-->
          </div> <!-- ./app-feature-info -->
          <div class="col-xs-12 col-md-6">
            <img width="441" height="437" src="/static/img/pages/wallet/wallet-leverage-contacts.png"
                 alt="Saiba - Leverage Your Contacts" />
          </div>
        </div> <!-- ./app-row -->

        <div class="row app-row">
          <div class="col-xs-12 col-md-6 col-md-push-6 app-feature-info">
            <h2 class="feature-title">Send Requests</h2>
            <p class="feature-summary">With Saiba it doesn't matter where your business is located.
              By partnering with us and selling on our platform, your business scales across East Africa right away. </p>
            <!---<p><a class="btn btn-read-more" href="#">see how <i class="fa fa-angle-right"></i></a></p>-->
          </div> <!-- ./app-feature-info -->
          <div class="col-xs-12 col-md-6 col-md-pull-6">
            <img width="440" height="437" src="/static/img/pages/wallet/wallet-send-requests.png"
                 alt="Saiba - Send Requests" />
          </div>
        </div> <!-- ./app-row -->

        <div class="row">
          <div class="col-xs-12 col-sm-4 wa-feature">
            <img width="68" height="74" src="/static/img/pages/wallet/icon-wa-feature1.png"
                 alt="Simple and Reliable - icon" />
            <h3>Simple and Reliable</h3>
            <p>Saiba keeps all your purchases and expenses in one place enabling you to take
              advantage of your smartphone to spend and save smartly</p>
           <!-- <p><a class="btn btn-read-more" href="#">more <i class="fa fa-angle-right"></i></a></p>-->

          </div> <!-- ./wa-feature -->
          <div class="col-xs-12 col-sm-4 wa-feature">
            <img width="81" height="74" src="/static/img/pages/wallet/icon-wa-feature2.png"
                 alt="Save money - icon" />
            <h3>Save money</h3>
            <p>Save money by being given cash back when you spend. Buy airtime and data bundles or pay bills and
              subscriptions and we give you 6% of what we make.</p>
           <!-- <p><a class="btn btn-read-more" href="#">more <i class="fa fa-angle-right"></i></a></p>-->

          </div> <!-- ./wa-feature -->
          <div class="col-xs-12 col-sm-4 wa-feature">
            <img width="73" height="74" src="/static/img/pages/wallet/icon-wa-feature3.png"
                 alt="Manage Cashflow - icon" />
            <h3>Manage Cashflow</h3>
            <p>Manage your cashflow by borrowing right when you need and repay at your own sweet time.
              The more you transact the more we can lend you</p>
            <!--<p><a class="btn btn-read-more" href="#">more <i class="fa fa-angle-right"></i></a></p>-->

          </div> <!-- ./wa-feature -->
        </div> <!-- ./row -->

      </div> <!-- ./container -->
    </section> <!-- ./saiba-wallet-features -->

  </main> <!-- ./default-main -->
{% endblock %}
