/* ==========================================================================
   Theme Colors
   ========================================================================== */


$default-text-color: #454545;
$topNav-default: #000;
$topNav-hover: #3a7ca2;


/************
HEADER
************/
$slide-headline: #ffffff;
$slide-caption: #aba4af;
$slide-social: #c50254;

/* Main Nav */
$nav-primary-color: #aba4af;
$nav-top-bar-color: #ffffff;
$nav-second-color: #8d8a8f;
$nav-second-hover: #1e002e;
$nav-second-bg: #f3f3f7;
$nav-login: #d9004e;
$nav-login-hover: #b30041;

/************
Main
************/

/* Default Section */
$section-subtitle: #565159;

/* Main Section */
$feature-icon: #bbb9bc;
$feature-summary: #565159;
$feature-title: #1e002e;
$feature-link: #d9004e;

/* Access Features Section */
$access-feature-title: #1e002e;
$access-feature-summary: #565159;

/* Conect Features Section */
$connect-feature-title: #1e002e;
$connect-feature-summary: #565159;

/* Merchant Features Section */
$merchant-feature-title: #1e002e;
$merchant-feature-summary: #565159;

/* Overview Features Section */
$overview-feature-title: #1e002e;
$overview-feature-summary: #565159;
$highlight-text: #e90054;

/* Wallet Features Section */
$wallet-feature-title: #1e002e;
$wallet-feature-summary: #565159;

/* About Features Section */
$about-feature-title: #1e002e;
$about-feature-summary: #565159;
$testimonial-title: #e90054;
$testimonial-content: #565159;

/* Account Type */
$account-type-title: #1a0029;
$account-type-text: #565159;

/* Merchant Feature Box */
$mfb-title: #1e002e;
$mfb-text: #565159;

/* Region */
$region-title: #1e002e;

/* Contact */
$office-title: #1e002e;
$office-address: #565159;
$office-phone: #90909a;
$office-email: #90909a;


/* Footer */
$footer-color: #1e002e;
$footer-links: #2e3192;
$footer-disclaimer: #a6a6ae;
$social-link-default: #ccccd1;
$social-link-facebook: #3b5998;
$social-link-twitter: #00aced;
$social-link-linkedin: #007bb6;
$social-link-youtube: #bb0000;
$social-link-github: #333333;

/* Backgrounds */
$bg-blue: #418ebb;
$bg-lightgrey: #F2F2F2;
$bg-footer: #f3f3f7;